@model SLH.Feature.Location.Models.LocationMapViewModel

<!-- STYLES -->
<link rel="stylesheet" type="text/css" media="screen" href="/css/styles.css" />

<!-- SCRIPTS -->
<script src="/scripts/jquery-3.0.0.min.js"></script>
<script src="/scripts/jquery-ui.min.js"></script>
<script src="/scripts/interact.min.js"></script>
<script src="/scripts/scripts.js"></script>

<div class="poi-map module">
    <div class="module__container">

        <div class="poi-map__container">
            <div class="poi-map__wrapper">

                <img src="@Model.ImageUrl" alt="Missing Image" class="poi-map__img" />

                @if (Model.PoiItems != null && Model.PoiItems.Any())
                {
                    <!-- Render POI items -->
                    foreach (var poiItem in Model.PoiItems)
                    {
                        <div class="poi-map__poi poi-map__poi--no-images draggable" style="top: @poiItem.Top%; left: @poiItem.Left%" data-id="@poiItem.Id" data-x="@poiItem.Left" data-y="@poiItem.Top">
                            @if (!string.IsNullOrWhiteSpace(poiItem.Title))
                            {
                                <h3 class="poi-map__poi-title">@poiItem.Title</h3>
                            }
                            <div class="fa @poiItem.IconClass"></div>
                        </div>
                    }
                }

            </div>
        </div>
    </div>
</div>
